/.idea/
Plant_Manager.iml
frontend/plant_manager_frontend/.vite/deps/_metadata.json
frontend/plant_manager_frontend/.vite/deps/chunk-V42YN7MM.js.map
frontend/plant_manager_frontend/.vite/deps/chunk-V42YN7MM.js
frontend/plant_manager_frontend/.vite/deps/package.json
frontend/plant_manager_frontend/.vite/deps/react-dom_client.js
frontend/plant_manager_frontend/.vite/deps/react-dom_client.js.map
frontend/plant_manager_frontend/.vite/deps/react.js
frontend/plant_manager_frontend/.vite/deps/react.js.map
backend/plant_man_test.iml
